.loading-center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  flex-direction: column;
  background-color: black;
  min-height: 100vh;
}
.loading-text{
  font-family: Comfortaa;
  font-size: 14px;
  color: white;
}